<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Spreadsheet Analysis</title>
    {#Bootstrap css#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {#    Boottsrap js #}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div class="container jumbotron">
    <input class="form-control" id="id_field" type="text">
    <button class="btn btn-primary" id="mybtn" type="submit">Submit</button>
</div>


<script>

    $(document).ready(function () {
        path_name = window.location.pathname
        let count = 0;
        let endpoint = "";
        for (var i = 0; i < path_name.length; i++) {
            if (path_name[i] == '/') {
                count += 1;
            }
            if (count < 2) {
                endpoint += path_name[i];
            }

            {#console.log("Endpount is " + endpoint);#}
        }

        $("#mybtn").click(function (event) {
            event.preventDefault()
            loan_id = $("#id_field").val()
            window.location.href = 'https://matt-test-app.herokuapp.com' + endpoint + '/' + loan_id;
            console.log(window.location.href)
        })

    })


</script>
<script>


    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Monthly Average Temperature'
        },
        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        xAxis: {
            categories: [{% for foo in date %}
                "{{ foo.date.date }} {{ foo.date.time }} ",
            {% endfor %}
            ]
        },
        yAxis: {
            title: {
                text: 'CLR'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: false
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: 'CLR',
            data: [{% for foo in clr %}
                {{ foo }},
            {% endfor %}
            ]
        }, {
            name: 'Loan',
            data: [
                {% for foo in date %}
                    {% if custom_date.date == foo.date.date and custom_date.time == foo.date.time %}
                        {{ object.rand_rate }},
                    {% else %}
                        '',
                    {% endif %}
                {% endfor %}


            ]
        }]
    });
</script>
</body>
</html>