{% extends 'base.html' %}


{% block content %}

    <div class="container alert alert-success">
        <h3>Welcome to the application! Kindly go to (url)/plot1/id of the row to analyze the loan. Change plot1 to
            plot2, plot3 and so on for spreadsheet1, spreadsheet2, spreadsheet3 respectively</h3>
        <h2>Or you may quick start from below</h2>
        <div class="row">
            <div class="col-sm-12">


                <a href="{% url 'loan1' pk=2895 %}" class="btn btn-primary">SpreadSheet1</a>
{#                <a href="{% url 'loan2' pk=3800 %}" class="btn btn-primary">SpreadSheet2</a>#}
            </div>
        </div>
    </div>



{% endblock %}