{% extends "base.html" %}


{% block content %}

<div class="row">
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="{% url  'loan1' pk=5926 %}"><p class="white-text">Spreadsheet 1</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="{% url  'loan2' pk=5926 %}"><p class="white-text">Spreadsheet 2</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="{% url  'loan3' pk=5926 %}"><p class="white-text">Spreadsheet 3</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="{% url  'loan4' pk=5926 %}"><p class="white-text">Spreadsheet 4</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="{% url  'loan5' pk=5926 %}"><p class="white-text">Spreadsheet 5</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="{% url  'loan6' pk=5926 %}"><p class="white-text">Spreadsheet 6</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="{% url  'loan7' pk=5926 %}"><p class="white-text">Spreadsheet 7</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="{% url  'loan8' pk=5926 %}"><p class="white-text">Spreadsheet 8</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="{% url  'loan9' pk=5926 %}"><p class="white-text">Spreadsheet 9</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="{% url  'loan10' pk=5926 %}"><p class="white-text">Spreadsheet 10</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="#"><p class="white-text">Spreadsheet 11</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="#"><p class="white-text">Spreadsheet 12</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="#"><p class="white-text">Spreadsheet 13</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="#"><p class="white-text">Spreadsheet 14</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="#"><p class="white-text">Spreadsheet 15</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="#"><p class="white-text">Spreadsheet 16</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="#"><p class="white-text">Spreadsheet 17</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="#"><p class="white-text">Spreadsheet 18</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="#"><p class="white-text">Spreadsheet 19</p></a>
            </div>
        </div>

    </div>
    <div class="col-sm-3">

        <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid "
                 alt="">
            <div class="mask flex-center">
                <a href="#"><p class="white-text">Spreadsheet 20</p></a>
            </div>
        </div>

    </div>

</div>


{% endblock content %}